.container {
  width: 100%;
  min-height: 100%;
  border: 4px solid $color-blue;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  border-bottom: 4px solid $color-blue;
}

.wrapperSelector {
  position: relative;
  padding: 0 30px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white, 0.7);
  backdrop-filter: blur(2px);
}
